.FORNECEDORES{
    background-color: rgb(20, 32, 69);
    height: auto;
    width: auto;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 10px;
}
.FORNECEDORES h3{
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}
.FORNECEDORES p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
}
.CLIENTES{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1px;
    text-align: center;
    margin: 30px;
    margin-bottom: 0px;
}
.PARCEIROS{
    background-color: blue;
    width: auto;
    height: auto;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
}
.PESSOAS{
    display: grid;
    grid-template-columns: 26% auto;

}
.PESSOAS h3{
    font-size: 65px;
    margin-left: 5%;
    margin-bottom: 3%;
}
.PESSOAS p{
    margin-left: 5%;
    margin-bottom: 3%;
}
.PESSOAS li{
    font-size: 20px;
    margin-left: 5%;
}
.P_IMAG{
    width: 100%;
    max-width: 100%;
    min-width: 280px;
    height: auto;
    margin-bottom: 30px;
}

.PESSOAS div p{
    font-size: 30px;
}
.TEXTO {
    font-size: 30px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}