
p{
    font-size: 1rem;
    margin-left: 315px;
}
.bx{
   font-size: 1.01rem; 
}
h1{
    text-align: center;
}
h3{
    text-indent: 3rem;
    margin-left: 315px;
    margin-right: 315px;
}

/* **provisório** */
.body-content{
    background-color: rgb(7, 39, 69);
    text-align: justify;
    padding-bottom: 50px;
}

iframe{
    margin-left: 26vw;
    margin-top: 50px;
}

.listaContatos :hover{
    background-color: rgb(2, 16, 34);
    color: #D4A94F;
    padding: 3px;
    padding-bottom: 5px;
  }
.listaContatos a:link, a:visited{
    text-decoration: none;
    color: #D4A94F;
    font-family: "Catamaran", sans-serif;
  }