
p{
    font-size: 1rem;
    margin-left: 315px;
}
.bx{
   font-size: 1.01rem; 
}
h1{
    text-align: center;
}
h3{
    text-indent: 3rem;
    margin-left: 30%;
    margin-right: 30%;
}

/* **provisório** */
.body-content{
    background-color: rgb(7, 39, 69);
    text-align: justify;
    padding-bottom: 50px;
}

iframe{
    text-align: center;
    margin-left: 15%;
    margin-top: 50px;
    height: 300px;
    width: 70%;
}

.linksContatos a{
    color: #D4A94f;
}

.linksContatos a:hover{
  background-color: #000c2e;
  color: white;
  padding: 3px;
  padding-bottom: 5px;
}
.linksContatos a:link, .linksContatos a:visited{
  text-decoration: none;
  color: #D4A94f;
  font-family: "Konexy";
}