h1{
    font-family: "Conthrax";
    font-size: 72px;
    text-align: center;
    margin: 0;
    padding: 0;
}
h3{
    text-indent: 2em;
    font-size: 18px;
    font-family: "Conthrax";
    line-height: 1.5;
}

.parte1{
    padding-top: 50px;
    background-color: rgb(7, 39, 69);
    padding-bottom: 50px;
}

.coluna1{
    margin-left: 200px;
    color: white;
}
.coluna2{
    margin-right: 200px;
} 
.colunas{
    display: grid;
    grid-template-columns: auto auto;
    gap: 150px;
}
