@font-face {
    font-family: "Conthrax";
    src: url(file:///C:/Users/Pedro/Documents/GitHub/TechMov/IMGS/conthrax-sb.ttf);
}

h1{
    font-family: "Conthrax";
    font-size: 72px;
    text-align: center;
}
h3{
    text-indent: 2em;
    font-size: 18px;
    font-family: "Conthrax";
    line-height: 1.5;
}

.coluna1{
    float: left;
    margin-left: 10%;
    margin-left: 200px;
}
.coluna2{
    float: right;
    margin-right: 10%;
    margin-right: 200px;
} 

.colunas{
    display: grid;
    grid-template-columns: auto auto;
    gap: 150px;
    margin-top: 80px;
}