@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap);
@font-face {
  font-family: "Conthrax";
  src: url(file:///C:/Users/Pedro/Documents/GitHub/TechMov/IMGS/conthrax-sb.ttf);
}

/* CABEÇARIO */

.header {
  padding: 16px;
  background: white;
  color: rgb(7, 38, 78);
  height: 80px;
  margin: 0;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
}

.img-header{
  margin-left: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.bx {
  font-size: 1.1rem;
  font-weight: bolder;
}

.C_ITEM {
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: rgb(7, 38, 78);
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
}

.C_ITEM:hover {
  background-color: #56677F;
  color: white;
}

.icones{
  margin-top: 20px;
}

/*****************/
/* RODAPE */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper{
	min-height: 100%;
	position: relative;
}

div.body-content{
      padding-bottom: 280px;
}

footer{
    display: grid;
    grid-template-columns: 33% auto 33%;
}

.colunaR{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.RODAPE{
    text-align: center;
    background-color: white;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-rodape{   
    height: auto;
    width: auto;
    max-height: 20vw;
}


.colunaR .bx{
    font-size: 1.4rem;
    vertical-align: -15%;
}

.link{
    font-family: "Conthrax";
    font-size: 20px;
}

/***************/

/* GERAIS */
body {
  margin: 0;
  padding: 0;
}

p, h3, li, h1{
  font-family: "Conthrax";
  color: white;
}

