@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap);
@font-face {
  font-family: "Conthrax";
  src: url(file:///C:/Users/Pedro/Documents/GitHub/TechMov/IMGS/conthrax-sb.ttf);
}

/* CABEÇARIO */

.header {
  padding: 16px;
  background: white;
  color: rgb(7, 38, 78);
  height: 80px;
  margin: 0;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
}

.img-header{
  margin-left: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.bx {
  font-size: 1.1rem;
  font-weight: bolder;
}

.C_ITEM {
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: rgb(7, 38, 78);
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
}

.C_ITEM:hover {
  background-color: #56677F;
  color: rgb(255, 255, 255);
}

.icones{
  margin-top: 20px;
}

/*****************/
/* RODAPE */

.RODAPE{
  display: grid;
  grid-template-columns: 25vw auto 25vw;
  vertical-align: bottom;
  text-align: center;
  padding: 10px;
}
.RODAPE .colunaR{
  text-align: right;
  align-content: end;
  margin-bottom: 10px;
  margin-right: 20px;
}
.RODAPE img{
  height: 20vw;
  width: auto;
  max-height: 300px ;
}
.RODAPE .bx{
  font-size: 1.4rem;
  vertical-align: -15%;
  vertical-align: bottom;
}
.RODAPE a{
  font-size: 20px;
}

@media (max-width: 1262px){
  .RODAPE *{
    margin: 0;
    padding: 0;
  }
  .RODAPE .colunaR{
    display: grid;
    grid-template-columns: auto 11.3vw;
    text-align: right;
    vertical-align: end;
  }
  .RODAPE .colunaR a{
    text-align: left;
  }
  .RODAPE .colunaR .bx{
    margin-left: auto;
  }
}
/***************/

/* GERAIS */
body {
  margin: 0;
  padding: 0;
}

p, h3, li, h1{
  font-family: "Conthrax";
  color: white;
}

