*{
    margin: 0px;
    padding: 0px;
}
.TEXTO{
    background-color: rgb(7, 38, 78);
    width: auto;
    height: auto;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
}
h1{
    font-size: 75px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}
h3{
    font-size: 25px;
    text-align: justify;
    text-indent: 2em;
}