*{
    margin: 0px;
    padding: 0px;
}
.TEXTO{
    background-color: rgb(7, 38, 78);
    width: auto;
    height: auto;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
}
h1{
    font-size: 75px;
    text-align: center;
    margin-bottom: 15px;
}
h3{
    font-size: 25px;
    text-align: justify;
    text-indent: 2em;
}

.execs{
    display: grid;
    grid-template-columns: 50% auto;
    text-align: justify;
    padding-bottom: 30px;
    padding: 3vw; 
    gap: 2vw;
    background-image: url(IMGS/Fundos/3261436.jpg);
    background-blend-mode: darken;
    background-color: rgba(127, 140, 158, 0.35);
    background-size: auto;
}

.execs img{
    margin-left: auto;
}

.execs h2{
    color: #D4A94F;
    font-family: "Konexy"; 
}

.execs p{
    color: rgb(7, 38, 78);
  font-family: "Konexy";
}

.projetos {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    text-align: left;
    padding-bottom: 30px;
    padding: 3vw; 
    background-image: url(IMGS/Fundos/3409297.jpg);
    background-size: cover;
    gap: 2VW;
}

.projetos img{
    max-width: 450px;
    min-height: 300px;
    max-height: 300px;
    padding-bottom: 35px;
}

.projetos h2{
    color: #D4A94F;
    font-family: "Konexy"; 
}

.projText {
    min-height: 335px;
}
