html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper{
	min-height: 100%;
	position: relative;
}

div.body-content{
      padding-bottom: 458px;
}

.RODAPE{
    text-align: center;
    background-color: rgb(192, 202, 211);
    width: 100%;
    height: 368px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-rodape{   
    margin-top: 25px;
}