body{
    width: 100%;
    margin: 0px;
}

*{
    margin: 0;
}
/*background-color: rgb(6, 39, 79);
 background-color: rgba(127, 140, 158, 0.25);
 color: rgb(6, 39, 79);
 background-color: rgb(6, 39, 79);

*/
/* Oferta Personalizada: Produtos e Serviços */

.OFERTA{
    background-color: rgb(6, 39, 79);
    width: auto;
    height: auto;
    padding: 40px;
    text-align: center;
}
.OFERTA h2{
    margin-bottom: 5vw;
    color: white;
}
.paragrafo1 p{
    margin-bottom: 10vw;
}
.OFERTA ul{
    list-style-type: none;
}
.OFERTA h1{
    font-size: 52px;
    margin-bottom: 30px;
    text-align: center;
}
.OFERTA p{
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    color: #D4A94F;
    text-decoration-line: underline;
}
.OFERTA img{
    width: auto;
    height: 28vw;
    max-height: 320px;
    max-width: 800px;
    border-radius: 50px;
  
    margin-bottom: 5vw;
}
/*Projetos Inovadores e Personalizados a sua Necessidade*/

.PROJETO{
    background-color: rgba(127, 140, 158, 0.25);
    width: auto;
    height: auto;
    vertical-align: center;
    text-align: left;
}
.PROJETO p{
    font-weight: bolder;
}
.PROJETO .QUADRO{
    padding: 1vw;
    margin: 0;
    background-image: url(IMGS/Fundos/3261436.jpg);
    background-blend-mode: darken;
    background-color: rgba(127, 140, 158, 0.2);
    background-size: auto;
}
.P_GRADE{
    display: grid;
    grid-template-columns: auto auto;
    text-align: justify;
    padding-bottom: 30px;
}
.PROJETO h1{
    color: rgb(6, 39, 79);
    font-size: 70px;
    text-align: center;
    margin: 2vw;
}
.P_GRADE h1{
    color: rgb(6, 39, 79);
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 3vw;
}
.P_GRADE ul{
    list-style-type: disc;
    margin-left: 3vw;
}
.P_GRADE ul li::marker{
    color: rgb(6, 39, 79);;
    margin-bottom: 50px;
}
.PROJETO ul p{
    color: rgb(6, 39, 79);
    font-size: 25px;
    margin-left: 0;
}
.PROJETO p{
    color: rgb(6, 39, 79);
    font-size: 25px;
    margin-left: 2vw;
}
.P_GRADE img{
    width: auto;
    height: auto;
    max-width: 40vw;
    margin-top: 10%;
    border-radius: 30px;
}

@media (max-width: 1340px){
    .P_GRADE{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .P_GRADE p{
        text-align: justify;
    }
    .PROJETO h1{
        font-size: 60px;
    }
    .P_GRADE img{
        padding: 10px;
        max-width: 80vw;
        width: auto;
        margin-top: 30px;
        border-style: solid;
        border-color: black;
    }
}


/*DIFERENCIAIS*/
.DIFERENCIAIS *{
    color: white;
}
.DIFERENCIAIS{
    height: auto;
    width: auto;
    background-color: rgb(6, 39, 79);
    padding: 40px;
    font-family: "Catamaran", sans-serif;
}
.DIFERENCIAIS h1{
    text-align: center;
    font-size: 75px;
}
.DIFERENCIAIS h2{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.DIFERENCIAIS p{
    font-size: 30px;
    padding-bottom: 40px;
}
